In [17]:
import pandas as pd

In [18]:
df_Engelska = pd.read_excel("riket2023_åk9_np.xlsx",sheet_name='Engelska' ,skiprows=8)
df_Engelska = df_Engelska.rename(columns={'Riket': 'Plats', 'Typ av huvudman': 'Huvudman', 'Totalt': 'Totalt(A-F)', 'Flickor': 'Flickor(A-F)', 'Pojkar': 'Pojkar(A-F) ', 'Totalt ': 'Totalt(A-E) ', 'Flickor ': 'Flickor(A-E) ', 'Pojkar ': 'Pojkar(A-E)', 'Totalt  ': 'Totalt(poäng)', 'Flickor  ': 'Flickor(poäng)', 'Pojkar  ': 'Pojkar(poäng)'})
df_Engelska

,Plats,Huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt(A-E),Flickor(A-E),Pojkar(A-E),Totalt(poäng),Flickor(poäng),Pojkar(poäng)
0,Riket,Samtliga,106941,51864,55077,97.0,97.1,97.0,15.7,15.8,15.7
1,Riket,Kommunal,84310,40675,43635,96.6,96.6,96.6,15.4,15.5,15.4
2,Riket,Enskild,22582,11165,11417,98.7,98.8,98.7,16.9,17.0,16.8
3,Riket,Skolverket,49,24,25,100.0,100.0,100.0,18.5,18.9,18.2

In [33]:
df_Matematik = pd.read_excel("riket2023_åk9_np.xlsx",sheet_name='Matematik' ,skiprows=8)
df_Matematik = df_Matematik.rename(columns={'Riket': 'Plats', 'Typ av huvudman': 'Huvudman', 'Totalt': 'Totalt(A-F)', 'Flickor': 'Flickor(A-F)', 'Pojkar': 'Pojkar(A-F) ', 'Totalt ': 'Totalt(A-E) ', 'Flickor ': 'Flickor(A-E) ', 'Pojkar ': 'Pojkar(A-E)', 'Totalt  ': 'Totalt(poäng)', 'Flickor  ': 'Flickor(poäng)', 'Pojkar  ': 'Pojkar(poäng)'})
df_Matematik

,Plats,Huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt(A-E),Flickor(A-E),Pojkar(A-E),Totalt(poäng),Flickor(poäng),Pojkar(poäng)
0,Riket,Samtliga,106766,51548,55218,89.1,88.7,89.5,11.9,11.8,12.0
1,Riket,Kommunal,84163,40386,43777,88.1,87.7,88.5,11.6,11.5,11.7
2,Riket,Enskild,22553,11137,11416,92.9,92.2,93.5,13.0,12.8,13.1
3,Riket,Skolverket,50,25,25,~100,~100,~100,14.1,13.5,14.7

In [34]:
df_Svenska = pd.read_excel("riket2023_åk9_np.xlsx",sheet_name='Svenska' ,skiprows=8)
df_Svenska = df_Svenska.rename(columns={'Riket': 'Plats', 'Typ av huvudman': 'Huvudman', 'Totalt': 'Totalt(A-F)', 'Flickor': 'Flickor(A-F)', 'Pojkar': 'Pojkar(A-F) ', 'Totalt ': 'Totalt(A-E) ', 'Flickor ': 'Flickor(A-E) ', 'Pojkar ': 'Pojkar(A-E)', 'Totalt  ': 'Totalt(poäng)', 'Flickor  ': 'Flickor(poäng)', 'Pojkar  ': 'Pojkar(poäng)'})
df_Svenska

,Plats,Huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt(A-E),Flickor(A-E),Pojkar(A-E),Totalt(poäng),Flickor(poäng),Pojkar(poäng)
0,Riket,Samtliga,93225,45800,47425,96.1,97.9,94.4,13.6,14.5,12.7
1,Riket,Kommunal,72771,35484,37287,95.7,97.6,93.8,13.3,14.3,12.4
2,Riket,Enskild,20414,10297,10117,97.6,98.7,96.6,14.4,15.2,13.5
3,Riket,Skolverket,40,19,21,100.0,100.0,100.0,15.0,15.9,14.2

In [35]:
df_Svenska_som_andraspråk = pd.read_excel("riket2023_åk9_np.xlsx",sheet_name='Svenska som andraspråk' ,skiprows=8)
df_Svenska_som_andraspråk = df_Svenska_som_andraspråk.rename(columns={'Riket': 'Plats', 'Typ av huvudman': 'Huvudman', 'Totalt': 'Totalt(A-F)', 'Flickor': 'Flickor(A-F)', 'Pojkar': 'Pojkar(A-F) ', 'Totalt ': 'Totalt(A-E) ', 'Flickor ': 'Flickor(A-E) ', 'Pojkar ': 'Pojkar(A-E)', 'Totalt  ': 'Totalt(poäng)', 'Flickor  ': 'Flickor(poäng)', 'Pojkar  ': 'Pojkar(poäng)'})
df_Svenska_som_andraspråk

,Plats,Huvudman,Totalt(A-F),Flickor(A-F),Pojkar(A-F),Totalt(A-E),Flickor(A-E),Pojkar(A-E),Totalt(poäng),Flickor(poäng),Pojkar(poäng)
0,Riket,Samtliga,14092,6447,7645,77.7,81.6,74.3,9.4,10.2,8.7
1,Riket,Kommunal,11963,5495,6468,75.9,80,72.4,9,9.9,8.3
2,Riket,Enskild,2122,949,1173,87.7,90.9,85.2,11.1,12,10.4
3,Riket,Skolverket,..,..,..,..,..,..,..,..,..

In [36]:
import plotly.express as px

In [37]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

fig = make_subplots(rows=2, cols=2, 
                    subplot_titles=("Svenska", "Engelska", "Matematik", "Svenska som andraspråk"))


fig.add_trace(go.Bar(x=df_Svenska["Huvudman"], y=df_Svenska["Totalt(poäng)"], name="Svenska"),
              row=1, col=1)


fig.add_trace(go.Bar(x=df_Engelska["Huvudman"], y=df_Engelska["Totalt(poäng)"], name="Engelska"),
              row=1, col=2)

fig.add_trace(go.Bar(x=df_Matematik["Huvudman"], y=df_Matematik["Totalt(poäng)"], name="Matematik"),
              row=2, col=1)

fig.add_trace(go.Bar(x=df_Svenska_som_andraspråk["Huvudman"], y=df_Svenska_som_andraspråk["Totalt(poäng)"], name="Svenska som andraspråk"),
              row=2, col=2)

fig.update_layout(title_text="Poäng för olika ämnen",
                  showlegend=False, height=800, width=1000)

fig.show()

#Uppgift 2

In [38]:
df_betyg_o_prov_riksnivå = pd.read_excel("betyg_o_prov_riksnivå.xlsx",sheet_name='Tabell 1A' ,skiprows=5)
print(df_betyg_o_prov_riksnivå.columns)
df_betyg_o_prov_riksnivå = df_betyg_o_prov_riksnivå.rename(columns={'Elever som avslutat åk 9': 'Elever som avslutat åk 9 - Totlat','Unnamed: 2': 'Elever som avslutat åk 9 - Flickor', 'Unnamed: 3': 'Elever som avslutat åk 9 - Pojkar','Unnamed: 4': 'Elever som avslutat åk 9 - Därav elever - med slutbetyg1 - Totalt','Unnamed: 5': 'Elever som avslutat åk 9 - Därav elever - med slutbetyg1 - Flickor','Unnamed: 6': 'Elever som avslutat åk 9 - Därav elever - med slutbetyg1 - Pokjkar','Unnamed: 8': 'Elever som avslutat åk 9 - Därav elever - med slutbetyg1 - Flickor','Unnamed: 7': 'Elever som avslutat åk 9 - Därav elever - med godkända slutbetyg - Totalt','Unnamed: 9': 'Elever som avslutat åk 9 - Därav elever - med godkända slutbetyg - Pokjkar'})
df_betyg_o_prov_riksnivå

Index(['Läsår\nHuvudman\nBakgrund', 'Elever som avslutat åk 9', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

,Läsår\nHuvudman\nBakgrund,Elever som avslutat åk 9 - Totlat,Elever som avslutat åk 9 - Flickor,Elever som avslutat åk 9 - Pojkar,Elever som avslutat åk 9 - Därav elever - med slutbetyg1 - Totalt,Elever som avslutat åk 9 - Därav elever - med slutbetyg1 - Flickor,Elever som avslutat åk 9 - Därav elever - med slutbetyg1 - Pokjkar,Elever som avslutat åk 9 - Därav elever - med godkända slutbetyg - Totalt,Elever som avslutat åk 9 - Därav elever - med slutbetyg1 - Flickor,Elever som avslutat åk 9 - Därav elever - med godkända slutbetyg - Pokjkar
0,NaN,Totalt,Flickor,Pojkar,därav elever,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,med slutbetyg1,NaN,NaN,med godkända\nslutbetyg,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,Totalt,Flickor,Pojkar,Totalt,Flickor,Pojkar
4,2018/19,112731,54667,58064,112280,54430,57850,110663,53757,56906
5,2019/20,115023,55670,59353,114444,55389,59055,112728,54711,58017
6,2020/21,116359,56715,59644,115710,56394,59316,114136,55721,58415
7,2021/22,120525,58513,62012,119891,58207,61684,117935,57312,60623
8,2022/23,121369,59043,62326,120742,58703,62039,118736,57781,60955
9,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Kommun,96204,46478,49726,95991,46363,49628,94276,45588,48688
11,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Internationella skolor,213,115,98,.,.,.,.,.,.
13,Enskild,25165,12565,12600,24751,12340,12411,24460,12193,12267
14,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Allmän inriktning,23085,11511,11574,23085,11511,11574,22815,11372,11443
16,Konfessionell,1036,532,504,1036,532,504,1025,526,499
17,Waldorf,630,297,333,630,297,333,620,295,325
18,Internationella skolor,414,225,189,.,.,.,.,.,.
19,Elever med svensk bakgrund,88383,43044,45339,88214,42961,45253,86799,42274,44525
20,Elever med utländsk bakgrund,31918,15488,16430,31488,15247,16241,30999,15066,15933
21,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Födda i Sverige,13927,6831,7096,13876,6807,7069,13709,6735,6974
23,"Födda utomlands, inv. före 2014",6431,3078,3353,6340,3025,3315,6269,2993,3276
24,"Födda utomlands, inv. 2014 el. senare",11560,5579,5981,11272,5415,5857,11021,5338,5683
25,Totalt exkl. nyinvandrade elever och okänd bak...,117503,57195,60308,117044,56952,60092,115254,56114,59140
26,Nyinvandrade elever,2799,1338,1461,2658,1256,1402,2544,1226,1318
27,Elever med okänd bakgrund,1067,510,557,1040,495,545,938,441,497
28,Föräldrarnas högsta utbildning2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Förgymnasial utbildning,6578,3197,3381,6575,3197,3378,6327,3091,3236
30,Gymnasial utbildning,36842,17909,18933,36810,17893,18917,35938,17488,18450
31,Eftergymnasial utbildning,74793,36473,38320,74283,36201,38082,73583,35871,37712
32,därav,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Kort utbildning,18682,9215,9467,18628,9189,9439,18384,9073,9311
34,Lång utbildning,56111,27258,28853,55655,27012,28643,55199,26798,28401

In [41]:
df_betyg_o_prov_riksnivå1B = pd.read_excel("betyg_o_prov_riksnivå.xlsx",sheet_name='Tabell 1B' ,skiprows=7)
df_betyg_o_prov_riksnivå

df_betyg_o_prov_riksnivå1Bs = df_betyg_o_prov_riksnivå1B[df_betyg_o_prov_riksnivå1B["Unnamed: 0"] == "2018/19"]

In [42]:
years_filter = ["2018/19", "2019/20", "2020/21", "2021/22", "2022/23"]
df_filtered_years = df_betyg_o_prov_riksnivå1B[df_betyg_o_prov_riksnivå1B["Unnamed: 0"].isin(years_filter)]


df_filtered_years = df_filtered_years.rename(columns={"Unnamed: 0": "Year", "Totalt.2": "Total", "Flickor.2": "Girls", "Pojkar.2": "Boys"})


plt.figure(figsize=(10, 6))
plt.plot(df_filtered_years["Year"], df_filtered_years["Total"], label="Total")
plt.plot(df_filtered_years["Year"], df_filtered_years["Girls"], label="Girls")
plt.plot(df_filtered_years["Year"], df_filtered_years["Boys"], label="Boys")


plt.xlabel("Year")
plt.ylabel("Missing Grades")
plt.title("Missing Grades by Gender from 2018 to 2023")
plt.legend()


plt.show()

NameError: name 'plt' is not defined

In [8]:
years_filter = ["2018/19", "2019/20", "2020/21", "2021/22", "2022/23"]
df_filtered_years = df_betyg_o_prov_riksnivå1B[df_betyg_o_prov_riksnivå1B["Unnamed: 0"].isin(years_filter)]


df_filtered_years = df_filtered_years.rename(columns={"Unnamed: 0": "Year", "Totalt.2": "Total", "Flickor.2": "Girls", "Pojkar.2": "Boys"})


plt.figure(figsize=(10, 6))
plt.plot(df_filtered_years["Year"], df_filtered_years["Total"], label="Total")
plt.plot(df_filtered_years["Year"], df_filtered_years["Girls"], label="Girls")
plt.plot(df_filtered_years["Year"], df_filtered_years["Boys"], label="Boys")


plt.xlabel("Year")
plt.ylabel("Missing Grades")
plt.title("Missing Grades by Gender from 2018 to 2023")
plt.legend()


plt.show()

NameError: name 'df_betyg_o_prov_riksnivå1B' is not defined