In [31]:
nameScentence = "My name is malik"

name = nameScentence.split()

print(name)

['My', 'name', 'is', 'malik']

In [32]:
import pandas as pd
students_data = dict(business=25, AI=30, JS=30, JAVA=27)
students_data

{'business': 25, 'AI': 30, 'JS': 30, 'JAVA': 27}

In [35]:
series_program = pd.Series (students_data)
series_program

business    25
AI          30
JS          30
JAVA        27
dtype: int64

In [37]:
print(series_program[("AI")])

30

In [40]:
## dataframe 
pd.DataFrame(series_program, columns=("Num students",))

          Num students
business            25
AI                  30
JS                  30
JAVA                27

In [43]:
students = pd.Series(dict(business=25, AI=30, NET=30, APP=27))
langauges = pd.Series(dict(business="Python", AI="Python", NET="C#", APP="JAVA"))

students

business    Python
AI          Python
NET             C#
APP           JAVA
dtype: object

In [44]:
langauges

business    Python
AI          Python
NET             C#
APP           JAVA
dtype: object

In [45]:
pd.DataFrame({"Students": students, "Languages":langauges})

          Students Languages
business        25    Python
AI              30    Python
NET             30        C#
APP             27      JAVA